.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.empty-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.25rem;
  color: var(--neutral);
  background: var(--primary-transparent);
  backdrop-filter: blur(8px);
}

.chat-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: linear-gradient(
      var(--primary-transparent) 0.5px,
      transparent 0.5px
    ),
    linear-gradient(90deg, var(--primary-transparent) 0.5px, transparent 0.5px);
  background-size: 20px 20px;
}

.chat-header {
  padding: 1rem 1.5rem;
  background: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: var(--border-width) solid var(--border-color);
}

.chat__avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--primary);
  box-shadow: var(--shadow-sm);
}

.chat-header h2 {
  color: var(--neutral-dark);
  font-weight: 600;
  font-size: 1.25rem;
}
