.user__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.3rem;
  border-radius: 5px;
  padding: 10px 8px;
  margin: 1px 0px;
  cursor: pointer;
}

.user__container:hover {
  background-color: rgba(161, 170, 170, 0.5);
}
.avatar-container {
  position: relative;
  display: inline-block;
}

.avatar__useritem {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.username {
  font-size: 1.5rem;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.online-dot {
  position: absolute;
  bottom: 4px; /* Adjust these values to position */
  right: 4px; /* the dot relative to avatar */
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #00c853; /* WhatsApp-like green */
  border: 2px solid white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
