.chatpage {
  display: flex;
  height: 100vh;
  background: var(--neutral-light);
  overflow: hidden;
  padding-top: 64px;
  padding-bottom: 1rem;
}

.sidebar__section {
  width: 480px;
  background: var(--neutral-light);
  border-right: var(--border-width) solid var(--border-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}

.message__section {
  flex: 1;
  background: white;
  display: flex;
  position: relative;
  border-radius: var(--border-radius) 0 0 0;
  box-shadow: var(--shadow-sm);

}