.chatpage {
  display: flex;
  height: 100vh;
  background: var(--neutral-light);
  overflow: hidden;
  padding-top: 64px;
  padding-bottom: 1rem;
  box-sizing: border-box; /* Ensures padding is included in height */
}

.sidebar__section {
  width: 480px;
  height: 100%;
  background: var(--neutral-light);
  border-right: var(--border-width) solid var(--border-color);
  display: flex;
  flex-direction: column;
}

.message__section {
  flex: 1;
  background: white;
  display: flex;
  border-radius: var(--border-radius) 0 0 0;
  box-shadow: var(--shadow-sm);
  overflow: hidden; /* Prevent scroll bleed */
}
